{% for int, desc in nodes[inventory_hostname].interfaces.items() %}
interface {{int}}
   description "{{inventory_hostname}} --> {{desc}}"
   channel-group 1 mode active
{% endfor %}

{% for name, ip, id in nodes[inventory_hostname].vrfs.items() %}
vrf instance {{name}}
interface po1.{{id}}
 encapsulation dot1q vlan {{id}}
 ip address {{ip}}
{% endfor %}
