#jinja2: trim_blocks:True
{% for host in nodes %}
interface Port-Channel1
   description "LACP to Leafs"
 {% for key, value in configs[host.name].interfaces.items() %}
interface {{ key }}
   description "{{ host.name }}:{{ key }} --> {{ value }}"
   channel-group 1 mode active
 {% endfor %}
 {% for vrf in configs[host.name].vrfs %}
vrf instance {{ vrf.name }}
interface Port-Channel1.{{ vrf.id }}
   encapsulation dot1q vlan {{ vrf.id }}
   ip address {{ vrf.ip }}
   vrf {{ vrf.name }}
 {% endfor %}
{% endfor %}

