#jinja2: trim_blocks:True

router id {{ router_id }};
define my_as = {{ as_number }};

protocol device { }

# BGP Template configuration

template bgp IXP {
  local as my_as;
  rs client;
}

# BGP Peer configuration

{% for peer in peers %}
protocol bgp {{ peer.name }} from IXP {
  description "{{ peer.desc }}";
  neighbor {{ peer.ip }} as {{ peer.as_number }};
  ipv4 {
    import all;
    export all;
  };
}
{% endfor %}