{# Used by conf_bird_server.j2 #}

{# Overkill for just 1 session/neighbor, but want to keep the BGP YAML syntax consistent #}
# BGP Configuration
protocol bgp {
{% for session in bgp.sessions %}
  description "{{ session.name }}";
  local {{ bgp.router_id }} as {{ bgp.local_as }};
{%     for neighbor in session.neighbors %}
{%         if family == "ipv4" %}
  neighbor {{ neighbor.ip }} as {{ session.remote_as }};
{%         endif %}
{%         if family == "ipv6" %}
  neighbor {{ neighbor.ipv6 }} as {{ session.remote_as }};
{%         endif %}
{%     endfor %}
{%     if family == "ipv4" %}
  ipv4 {
  	import all;
  	export where source ~ [ RTS_DIRECT ];
    extended next hop on;
  };
{%     endif %}
{% endfor %}
}