#jinja2: trim_blocks:True

switchport default mode routed
spanning-tree mode none
service routing protocols model multi-agent
ip routing
ipv6 unicast-routing

{# Excluding 10.0.0.0/8 as this is a lab #} 
ip prefix-list PL-BOGONS
permit 100.64.0.0/10 le 32
permit 127.0.0.0/8 le 32
permit 169.254.0.0/16 le 32
permit 172.16.0.0/12 le 32
permit 192.0.0.0/24 le 32
permit 192.0.2.0/24 le 32
permit 192.168.0.0/16 le 32
permit 198.18.0.0/15 le 32
permit 198.51.100.0/24 le 32
permit 203.0.113.0/24 le 32
permit 224.0.0.0/3 le 32
resequence

{# Excluding 2001:db8::/32 as this is a lab #}
ipv6 prefix-list PL-BOGONS-V6
permit ::/8 le 128
permit 100::/64 le 128
permit 2001:2::/48 le 128
permit 2001:10::/28 le 128
permit 2002::/16 le 128
permit 3ffe::/16 le 128
permit fc00::/7 le 128
permit fe80::/10 le 128
permit fec0::/10 le 128
permit ff00::/8 le 128
resequence

ip prefix-list PL-DEFAULT
   permit 0.0.0.0/0
ipv6 prefix-list PL-DEFAULT-V6
   permit ::/0

ip prefix-list PL-IXP-INBOUND
   permit 0.0.0.0/0 le 24
ipv6 prefix-list PL-IXP-INBOUND-V6
   permit ::/0 le 48

ip prefix-list PL-IXP-OUTBOUND
{% for pfx in bgp.prefixes_v4_out %}
   permit {{ pfx.prefix }} 
{% endfor %}
   resequence

ipv6 prefix-list PL-IXP-OUTBOUND-V6
{% for pfx in bgp.prefixes_v6_out %}
   permit {{ pfx.prefix }} 
{% endfor %}
   resequence

route-map IXP-RM-IPV4-IN deny 10
   match ip address prefix-list PL-BOGONS
route-map IXP-RM-IPV4-IN permit 20
   match ip address prefix-list PL-IXP-INBOUND
route-map IXP-RM-IPV4-IN deny 30

route-map IXP-RM-IPV4-OUT deny 10
   match ip address prefix-list PL-BOGONS
route-map IXP-RM-IPV4-OUT permit 20
   match ip address prefix-list PL-IXP-OUTBOUND
route-map IXP-RM-IPV4-OUT deny 30

route-map IXP-RM-IPV6-IN deny 10
   match ip address prefix-list PL-BOGONS-V6
route-map IXP-RM-IPV6-IN permit 20
   match ip address prefix-list PL-IXP-INBOUND-V6
route-map IXP-RM-IPV6-IN deny 30

route-map IXP-RM-IPV6-OUT deny 10
   match ip address prefix-list PL-BOGONS-V6
route-map IXP-RM-IPV6-OUT permit 20
   match ip address prefix-list PL-IXP-OUTBOUND-V6
route-map IXP-RM-IPV6-OUT deny 30

router bgp {{ bgp.local_as }}
   router-id {{ router_id }}
   no bgp default ipv4-unicast
{% for family in ("IPV4", "IPV6") %}
   neighbor IXP-{{ family }} peer group
   neighbor IXP-{{ family }} next-hop-self
   neighbor IXP-{{ family }} remote-as {{ bgp.remote_as }}
   neighbor IXP-{{ family }} remove-private-as all
   no neighbor IXP-{{ family }} enforce-first-as
   address-family {{ family | lower }}
      neighbor IXP-{{ family }} activate
      neighbor IXP-{{ family }} route-map IXP-RM-{{ family }}-IN in
      neighbor IXP-{{ family }} route-map IXP-RM-{{ family }}-OUT out
      redistribute connected
{% endfor %}
{% for neighbor in bgp.neighbors %}
   neighbor {{ neighbor.ip }} peer group {{ neighbor.pg }}
   neighbor {{ neighbor.ip }} description  {{ neighbor.desc }}
   neighbor {{ neighbor.ip }} maximum-routes 1000
{% endfor %}

   
