#jinja2: trim_blocks:True

switchport default mode routed
spanning-tree mode none
service routing protocols model multi-agent
ip routing

router bgp {{ bgp.local_as }}
   router-id {{ router_id }}
   no bgp default ipv4-unicast
   maximum-paths 2
   neighbor IXP peer group
   neighbor IXP remote-as {{ bgp.remote_as }}
   neighbor IXP remove-private-as all
   neighbor IXP enforce-first-as
   neighbor IXP password {{ bgp.password }}
   neighbor IXP maximum-routes 1000
   neighbor 192.168.0.251 peer group IXP
   neighbor 192.168.0.251 description RS1
   neighbor 192.168.0.252 peer group IXP
   neighbor 192.168.0.252 description RS2
   !
   address-family ipv4
      bgp additional-paths install
      neighbor IXP activate
      network {{ bgp.network }}