#jinja2: trim_blocks:True

switchport default mode routed
spanning-tree mode none
service routing protocols model multi-agent
ip routing

router bgp {{ bgp.local_as }}
   router-id {{ router_id }}
   no bgp default ipv4-unicast
   neighbor IXP peer group
   neighbor IXP remote-as {{ bgp.remote_as }}
   neighbor IXP remove-private-as all
   neighbor 192.168.0.251 peer group IXP
   neighbor 192.168.0.251 description RS1
   neighbor 192.168.0.251 maximum-routes 1000
   no neighbor 192.168.0.251 enforce-first-as
   !
   address-family ipv4
      bgp additional-paths install
      neighbor IXP activate
      network {{ bgp.network }}